<!doctype html>
<html>
<head>

<meta charset="UTF-8">
<title>Yuktix REST API Documentation</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/css/bootstrap.min.css">
<style> body {padding-top :90px; } </style>           


</head>


<body>
	<div class="row">
		<div class="col-lg-offset-1 col-lg-11">
			<nav class="navbar navbar-top" role="navigation">
        	<!-- Brand and toggle get grouped for better mobile display -->
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex5-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
              <a class="navbar-brand" href="/">Yuktix</a>
	        </div>

       
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
          </ul>
        </nav>
		</div>
	</div> <!-- top toolbar  -->
	
	
	<div class="row">
		<div class="col-lg-offset-1 col-lg-8">
			<ol class="breadcrumb">
				<li><a href="/">Home</a></li>
                <li class="active">Yuktix Rest API</li>
			</ol>
		</div>
		
	</div> <!--  breadcrumbs  -->
	
	<div class="row">
		<div class="col-lg-offset-1 col-lg-11">
			<div class="page-header">
            <h1>Yuktix Rest API</h1>
			</div>
	 	
	 	</div>
	</div>
	
	
	<div class="row">
		<div class="col-lg-1">&nbsp;</div>
		<div class="col-lg-8">
			<table class="table table-hover">
					<thead>
						<tr>
						<th>Resource</th>
						<th>Description</th>
						</tr>
					
					</thead>
										
					<tbody>
                            {% for doc in docs %}
                                <tr>
                            
                                    <td><a href="/{{ docs[doc]['file_name']}}"><b></b>{{ docs[doc]["name"] }}</b></a></td>
                                    <td>{{ docs[doc]["description"] }}</td>
                                
                                </tr> 
                            {% endfor %}
					</tbody>
				
				</table>
		</div>
		<div class="col-lg-2"> 
			<!-- sidebar --> &nbsp;
		</div>
	</div>
	
</body>
</html>
